
[database]
hostname = {{ dbconn['host'] }}
username = {{ dbconn['user'] }}
password = {{ dbconn['pass'] }}
dbname = {{ dbconn['db'] }}

[environment]
environment = {{ app['env'] }}

[prefs]
{% if fav.color is defined %} 
color  = {{ fav['color'] }}
{% endif %}

{% if fav.fruit is defined %} 
fruit  = {{ fav['fruit'] }}
{% endif %}

{% if fav.car is defined %} 
car    = {{ fav['car'] }}
{% endif %}

{% if fav.laptop is defined %} 
laptop = {{ fav['laptop'] }}
{% endif %}

