
[database]
hostname = {{ dbconn['host'] }}
username = {{ dbconn['user'] }}
password = {{ dbconn['pass'] }}
dbname = {{ dbconn['db'] }}

[environment]
environment = {{ app['env'] }}

[prefs]
color  = {{ fav['color'] }}
fruit  = {{ fav['fruit'] }}
car    = {{ fav['car'] }}
laptop = {{ fav['laptop'] }}

